

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

button {
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 4px;
    border: solid beige;
    margin: 2px;
    font-size: 18px;
    font-weight: 800;
    min-width: 100px;
}

button:hover {
    background-color: lemonchiffon;
}


.main-box {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.grid {
    display: grid;
    min-width: 400px;
    min-height: 400px;
    grid-template-columns: repeat(n, 1fr);
    grid-template-rows: repeat(n, 1fr);
    background-color: wheat;
}

